<% provide(:title, 'Sign up') %>
<h1>Sign Up</h1>
<div id="signup">
  <%= render partial: 'user_form', locals: {user: @user, button: 'Sign Up', action: :new} %>

  <p>アカウントがある場合は<%= link_to "こちら", login_path %></p>
</div>